//Front + Back End styles

 .wp-block-fim-ministries-contact-info {
   padding-bottom: 20px;
    h4{
      margin-top:0;
    }
    span{
       display: block;
       padding-bottom: .5em;
       clear: both;
   }

 }
