/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-fim-ministries-contact-info.contacts-list .contact {
   padding-bottom: 20px;
   border-bottom: 1px dotted #000000;
 }
 .wp-block-fim-ministries-contact-info.contacts-list p.contact-info {
   margin: 0;
   padding: 0;
 }
 .wp-block-fim-ministries-contact-info.contacts-list:last-child .contact {
   border-bottom: 0;
 }


 .wp-block-fim-ministries-contact-info{
   .contactinfo-header{
     padding-top:0;
     margin-top:0
   }
 }
