.editor-styles-wrapper .wp-block-post-excerpt__more-link{
  display: none;
}

.ministry-page-contact .wp-block-post-featured-image{
  width:60%;
}

.ministry-page-contact .wp-block-fim-ministries-contact-group{
  flex: 1;
}

#adminmenu .menu-icon-ministries .wp-menu-image img{
  padding: 0;
}
